body {
  font-family: var(--ff-primary);
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
}

html:not(.dark) body {
  background-color: var(--app-background-light);
  color: var(--color-text-active-light);
}

html.dark body {
  background-color: var(--app-background-dark);
  color: var(--color-text-active-dark);
}

img[data-key='icon'] {
  height: var(--size-800);
  width: var(--size-800);
}

/*  utilities need to be fixed  */
/*.html:not(.dark) .canvas-item-container {
  border: 2px solid var(--color-text-active-light);
}

.html.dark .canvas-item-container {
  border: 2px solid var(--color-text-active-dark);
}

html:not(.dark) .canvas-item-childzone {
  border: 2px solid var(--color-text-active-light);
}

html.dark .canvas-item-childzone {
  border: 2px solid var(--color-text-active-dark);
}
*/
