body {
  font-family: var(--ff-primary);
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  background-color: var(--app-background-color);
  color: var(--color-text-active);
}


img[data-key='icon'] {
  height: var(--size-800);
  width: var(--size-800);
}

html:not(.dark) .item-container,
.item-childzone {
  border: 2px solid var(--color-text-active-light);
}

.item-childzone, .item-container{
  border: 2px solid var(--color-text-active);
}

.item-childzone:hover{
  border: 2px solid var(--color-primary);
}

.item-argument-container[data-colored]{
  border: 2px solid var(--color-text-active);

}

html:not(.dark) .triangle-background {
  background-image: url('data:image/svg+xml;charset=UTF-8, <svg preserveAspectRatio="none" viewBox="0 0 331 102" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="0.519784" y1="0.145702" x2="166.52" y2="101.146" stroke="rgb(53, 53, 53)" stroke-width="4"/><line x1="329.523" y1="0.852376" x2="166.523" y2="100.852" stroke="rgb(53, 53, 53)" stroke-width="4"/></svg>');
  background-size: 100% 100%;
}
html.dark .triangle-background {
  background-image: url('data:image/svg+xml;charset=UTF-8, <svg preserveAspectRatio="none" viewBox="0 0 331 102" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="0.519784" y1="0.145702" x2="166.52" y2="101.146" stroke="rgba(256, 256, 256, 0.9)" stroke-width="4"/><line x1="329.523" y1="0.852376" x2="166.523" y2="100.852" stroke="rgba(256, 256, 256, 0.9)" stroke-width="4"/></svg>');
  background-size: 100% 100%;
}
